.about-us{
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    padding: 2em;
}
.who{
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
}
.aboutPara{
    color: #999999;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 10px;
}